name: CI

on:
  push:
    branches: [master]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: master

      - name: Install dotnet 7.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x' # SDK Version to use; x will use the latest version of the 3.1 channel

      - name: Build the generator
        run: dotnet run OpenGL-Registry/xml/gl.xml bindings.zig GL_VERSION_3_3

      - name: Bundle pregenerated loaders
        uses: actions/upload-artifact@v2
        with:
          name: loaders
          path: bindings.zig
